.bookList {
  padding: 1rem 0;

  &__list {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &__empty {
    color: #e84747;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .bookList {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 650px) {
  .bookList {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 450px) {
  .bookList {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}