.header {
  padding: 5rem 0;
  background-image: url('./src/assets/img/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--main-light);

  &__title {
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
  }
}

