.sortWrapper {
  display: flex;
  justify-content: center;

  span {
    margin-right: 1rem;
  }
}

.categories {
  margin-right: 1rem;
}

@media only screen and (max-width: 350px) {
  .sortWrapper {
    flex-direction: column;
  }

  .categories {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}